MQTT_HOST=192.168.31.197
MQTT_PORT=1883
MQTT_USERNAME=bistu13
MQTT_PASSWORD=bistu13
MQTT_DEVICE_SN=bistu13
MQTT_TAG_VALUES_TOPIC=bistu13/TagValues
MQTT_COMMAND_TOPIC=bistu13/MQTTSetValueCommand/1
MQTT_QOS=0

TEMP_ON_C=30
TEMP_OFF_C=28
CONTROL_INTERVAL_SECONDS=2
MANUAL_TRIGGER_DELAY_SECONDS=0.2
